
 @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ekogi-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 17px 15px;
  width: 50px;
  height: 50px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  white-space: nowrap;
  color: #464448;
  overflow: hidden;
  background: #366CC8;
  border-radius: 50%;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}
.ekogi-menu.open {
  background: white;
  border: 1px solid #ccc;
  width: 165px;
  height: 138px;
  border-radius: 2px;
}
.ekogi-menu.open .ekogi-menu__button {
  color: #999;
  transform: rotate(45deg);
}
.ekogi-menu.open .ekogi-menu__content {
  opacity: 1;
  visibility: visible;
}

.ekogi-menu__button {
  font-weight: 400;
  border: 0;
  background: none;
  color: white;
  position: absolute;
  top: 18px;
  right: 15px;
  font-size: 34px;
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 12px;
  transition: 0.2s;
  user-select: none;
}

.ekogi-menu__title {
  font-size: 12px;
  margin: 0 0 13px 0;
}

.ekogi-menu__content {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.ekogi-menu__content__list {
  list-style: none;
}
.ekogi-menu__content__list li {
  margin: 0 0 3px 0;
  transform: translateX(20px);
  transition: 0.2s;
}
.ekogi-menu__content__list li:nth-child(1) {
  transition-delay: 0.08s;
}
.ekogi-menu__content__list li:nth-child(1) i {
  fill: #42A5F5;
}
.ekogi-menu__content__list li:nth-child(2) {
  transition-delay: 0.12s;
}
.ekogi-menu__content__list li:nth-child(2) i {
  fill: #66BB6A;
}
.ekogi-menu__content__list li:nth-child(3) {
  transition-delay: 0.16s;
}
.ekogi-menu__content__list li:nth-child(3) i {
  fill: #FF8F00;
}
.ekogi-menu.open .ekogi-menu__content__list li {
  transform: translateX(0);
}
.ekogi-menu__content__list i {
  vertical-align: middle;
  position: relative;
  top: -1px;
}

/******************************************************************/
body {
  overflow: hidden;
}
.container {
  text-align: center;
}
.path-slider {
  position: relative;
  display: inline-block;
  margin-top: 7%;
}
path {
  stroke-width: 1px;
  stroke: none;
  fill: none;
}
.icon__path {
  fill: #fff;
}
.path-slider__path-drawn {
  stroke: rgba(255, 255, 255, 0.5);
}
.item__icon {
  width: 45px;
  height: 45px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.path-slider__item {
  position: absolute;
  left: -37px;
  top: -37px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}
.path-slider__item:hover .item__circle, .path-slider__item:focus .item__circle {
  background-color: #19667c;
}
.item__circle {
  display: inline-block;
  width: 74px;
  height: 74px;
  background-color: #2189a5;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  transition: 1s background;
}
.item__title {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 25px;
  font-variant: small-caps;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.path-slider__current-item .item__circle {
  background-color: #1d7891;
  transition: 1s 0.5s background;
}
.path-slider__current-item .item__title {
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s 1s;
}

/********************** The following : Haodev */
/*Change Background-color automatically */
.ekogi-container {
  margin: 0;
  padding: 0;
  text-align: center;
}

.ekogi {
  width:100%;
  height:100%;
  color:black;
  font-weight:bold;
  animation: ekogi-animation 15s infinite;
}

@keyframes ekogi-animation {
  0% {background-color: red;}
  25%{background-color:yellow;}
  50%{background-color:green;}
  75%{background-color:brown;}
  100% {background-color: red;}
}
/*END*/
/***********/

.preloading {
    overflow: hidden;
}
.preload-container {
    width: 100%;
    height: 100%;
    background: #ef6e7e;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999999999;
    display: block;
    padding-right: 17px;
    overflow-x: hidden;
    overflow-y: auto;
}
.preload-icon {
    font-size: 66px;
    color: #fff;
    margin-top: 20%;
}
@-webkit-keyframes {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1.5s linear infinite;
  -moz-animation: rotating 1.5s linear infinite;
  -ms-animation: rotating 1.5s linear infinite;
  -o-animation: rotating 1.5s linear infinite;
  animation: rotating 1.5s linear infinite;
}
#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}
#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
}
#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    background: #00ff80 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    background: #00ffea none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    background: #00aaff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    background: #0040ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    background: #2a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    background: #9500ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    background: magenta none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: #ff0095 none repeat scroll 0 0;
}


.circle{
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  transform: translate(-50%,-50%);
  width: 200px;
  height: 200px;
  border: 4px solid transparent;
  border-bottom: 4px solid #36E494;
  border-top: 4px solid #fa8072;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}

.circle:before{
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  border: 4px solid transparent;
  border-bottom: 4px solid #ff7f50;
  border-top: 4px solid #2dfefa;
  border-radius: 50%;
  animation: animate 2.5s linear infinite;

}
.circle:after{
  content: '';
  position: absolute;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  border: 4px solid transparent;
  border-bottom: 4px solid #ffffff;
  border-top: 4px solid #be90d4;
  border-radius: 50%;
  animation: animate 3s linear infinite;

}

@keyframes animate{

  0%{
    transform: rotate(0deg);

  }
  100%{
    transform: rotate(360deg);
  }

}

